.search {
    background-color: #f5f5f5;
    color: #00d1b2;
    font-weight: bold;
    width: 150px ;
    aspect-ratio: 5/1;
    text-align: center;
    border: solid;
    border-top-left-radius: 60px 60px;
    border-top-right-radius: 60px 60px;
    border-bottom-right-radius: 60px 60px;
    border-bottom-left-radius: 60px 60px;
    border-color: #00d1b2;
}

.plusButton {
    background-color: #00d1b2;
    color: white;
    font-size: x-large;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    border-style: hidden;
}

.createAccount {
    color: white;
    text-align: center;
    background-color: #2b78e4;
    border: solid;
    border-color:black;
    width: 170px;
    aspect-ratio: 5/1;
    box-shadow: 8px 8px black;
}